
@{
    ViewBag.Title = "Prog2";
}

<form method="post" action="@Url.Action("Prog2")">

    <div class="panel panel-primary">
        <div class="panel-heading">
            資料查詢
        </div>
        <div class="panel-body">
            <p>
                送貨地址包含文字
                <input type="text" class="form-control" name="too" required />
            </p>
            <p>
                <input type="submit" class="btn btn-primary" value="查詢" />
            </p>
        </div>
    </div>
</form>

